BODY {background-color: rgb(79, 139, 139);}
H1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
	font-size: 30px; text-align: center; color: floralwhite; 
	text-shadow: black;};
#name {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic; color: floralwhite; font-size: 20px; 
	text-shadow: black;};
#picture {width: 250px; margin: 0 auto;}
div img {position:absolute; left:0; right:0; margin:auto;
}
